.top_description
{
    color:white;
    background-color: black;
    padding: 0px;
    margin: 0px; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.top_description img
{
    width: 320px;
}

.top_description h1
{
    font-size: 60px;
    text-align: left;
    padding: 1em 1em;
}

h1 span 
{
    text-transform: uppercase;
    display: block;
    font-size: 45px;
    position: relative;
    z-index: 1;
}

h1 span::before
{
    content: ' ';
    position: absolute;
    width: 4em;
    background-color: white;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.5em;
}

.trainer
{
    color: red;
    position: relative;
}

@media (max-width: 1127px)
{
    .top_description {
            color: white;
            background-color: black;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
        }

    .top_description img
    {
        width: 100%;
    }
}